body{
  background: #f5f5f5;
}

main{
  width: 440px;
  height: 240px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 0 0 0;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.todo-list{
  margin: 0 0 30px 0;
  font-size: 11pt;
}
.todo-list li{
  list-style: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #ededed;
}
.todo-list li .toggle{
  width: 30px;
  height: 30px;
  position: relative;
	top: 0;
  bottom: 0;
  margin: 0 16px 0 0;
  border: none;
	-webkit-appearance: none;
	appearance: none;
}

.todo-list li .toggle:after {
  position: absolute;
  top: 0;
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked:after {
  position: absolute;
  top: 0;
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-list li label{
  vertical-align: top;
  transition: color 0.4s;
}
.todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}
